fastapi
pydantic
uvicorn
notebook
jupyter
nvsmi
einops
ninja
gdown
numpy
pillow
requests
tqdm
IPython
anvil
python-multipart

--find-links https://download.pytorch.org/whl/cu111/torch-1.10.0%2Bcu111-cp37-cp37m-linux_x86_64.whl
torch
--find-links https://download.pytorch.org/whl/cu111/torchvision-0.11.1%2Bcu111-cp37-cp37m-linux_x86_64.whl
torchvision

git+https://github.com/openai/CLIP

torch-utils